:root {
  color-scheme: dark;

  --bg: #222831;
  --bg2: #393E46;
  --card: #948979;
  --text: #f0ece7;
  --muted: #a8b0bb;
  --accent: #60a5fa;
  --border: rgba(255, 255, 255, 0.08);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  letter-spacing: 1.5px;
  font-weight: lighter;
}

a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 28px 18px;
  min-height: 80vh;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 18px;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 28px 0;
}


.profile {
  display: flex;
  gap: 14px;
  align-items: stretch; /* makes right side same height as image */
}

.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  
}

.profileText {
  height: 100px;       
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.name {
  margin: 0;
  font-size: 26px;
  line-height: 1.15;
}

.subRow {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: baseline; /* baseline alignment for text */
  color: var(--muted);
  font-size: 13px;
}

.subRow text {
  padding: 2px;
  font-size: 15px;
  color: #B6F500;
}

.row{
  display: flex;
  flex-direction: row;
  max-width: 980px;
  align-items: baseline;
  margin: 0 auto
}

.right:first-of-type{
  margin-left: auto; /* ✅ pushes all right items to the right */
  padding: 12px;
  gap: 6px
}