---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import placeholder from "../assets/rahul.jpg";
---

<Layout
  title="Rahul — Engineering Blog"
  description="Backend engineering, system design, Java, databases and distributed systems."
>
  <main class="container margin-top">
    <div class="profile">
      <Image class="avatar" src={placeholder} alt="Logo" />
      <div class="profileText">
        <h2 class="name">Rahul Harlalka</h2>
        <div class="subRow">
          <text><a href="/">About</a></text>
          <text>|</text>
          <text><a href="/blog">Blog</a></text>
        </div>
      </div>
    </div>
    <div>
      <h2>Hey Buddy !!</h2>
      <p>I am Rahul , a backend engineer at Flipkart</p>
      <p>
        I am passionate about creating backend systems at scale and love reading
        about databases.Recently , I have been reading about clustered db
        indexes and algorithms used by Lucene to search free text.
      </p>
      <p>
        After work , you'll find me exploring parts of city or playing badminton.
      </p>
      <p>You can find my resume <a href="" style="color: inherit"><u>here</u></a></p>
    </div>
  </main>
</Layout>
